<img *ngIf = "this.banner === true" class = "header-img" src = "../assets/image/green-mountains.png">
<nav class= "toolbar-styling" mat-tab-nav-bar>
    <a mat-tab-link
       *ngFor="let link of tabLinks"
       [routerLink]= "link.path"
       routerLinkActive #rla="routerLinkActive"
       [active]="rla.isActive">
       {{link.name}}
    </a>
    <span class = "fill-link-space"></span>
    <a mat-tab-link (click)= "toggleBanner()">
        <mat-icon class = "bannerShown" *ngIf="this.banner">arrow_drop_up</mat-icon>
        <mat-icon class = "bannerHidden" *ngIf="!this.banner">arrow_drop_down</mat-icon>
    </a>
  </nav>

