<img  class = "header-img" src = "../assets/image/green-mountains.jpg">
<mat-toolbar class = "toolbar-stylings">
  <div class = "toolbar-flex-container">
    <a class ="t" [routerLink]="['/about/postlist']" routerLinkActive="router-link-active" >about </a>
    <a [routerLink]="['/code/postlist']" routerLinkActive="router-link-active" >code </a>
    <a [routerLink]="['/music/postlist']" routerLinkActive="router-link-active" >music </a>
    <a [routerLink]="['/writing/postlist']" routerLinkActive="router-link-active" >writing</a>
    <span class = "fill-link-space">
      <h3>Toggle menu</h3>
    </span>
  </div>
