@media(min-width: 400px)
{.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-areas: "Photo Content Links" "Photo Content Links" "Photo Content Links";
  grid-row-gap: 20px;
  grid-column-gap: 20px;
  background-color:  #157c56;
}

.Photo { grid-area: Photo; }

.Content { grid-area: Content; }

.Links { grid-area: Links; }


}
@media(max-width: 800px){
  .grid-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas: "Content" "Photo" "Links";
    grid-row-gap: 20px;
    grid-column-gap: 20px;
  }

  .Content { grid-area: Content; }

  .Photo { grid-area: Photo; }

  .Links { grid-area: Links; }

}

img{
  max-height:  100%;
  max-width: 100% ;
}
div.photobox{
  display: flex;
  margin-top: auto;
  margin-bottom: auto;
}

div.content{
  background-color: #8abeab;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
}
div.content>p{
  text-align: justify;
  font-size: 24px;

}
div.content>h3{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 30px;
  text-align: center;
}
div.links>p{
  text-align: justify;
  font-size: 24px;
}
div.links>h3{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 30px;
}
div.links{
  background-color: #8abeab;
  text-align: center;

}
div.photo{
  background-color: #8abeab;
  text-align: center;
}

h1{
  font-family: Arial, Helvetica, sans-serif;
  display: inline-block;
  text-align: center;

}
#list-item-photos{
  height:50px;
  width:50px;
}
mat-list{background-color: whitesmoke;}
mat-list-item{display: block;
margin: auto;
}
