@media(min-width: 400px)
{.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-areas: "Photo Content Links" "Photo Content Links" "Photo Content Links";
}

.Photo { grid-area: Photo; }

.Content { grid-area: Content; }

.Links { grid-area: Links; }
}
@media(max-width: 800px){
  .grid-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas: "Content" "Photo" "Links";
  }

  .Content { grid-area: Content; }

  .Photo { grid-area: Photo; }

  .Links { grid-area: Links; }
}

img{
  max-height:  100%;
  max-width: 100% ;
}
