<!----- > This is the beginning of the css grid for about. In the CSS file, media queries are used to dynamically change the presentation<!-->
<div class = "grid-container">
  <div class="photo">
    <h1> I woke up like this</h1>
    <div class="photobox">
      <img src = "assets/image/abt-img.jpg">
    </div>
  </div>
  <div class="content">
    <h1 id = "content-header">Welcome to mattmademethod, I'm Matt</h1>
    <p>Hello! Thank you so much for visiting my site. I'm not one for flattery, but you are clearly a person of taste for stopping by, and you look very nice today.</p>
    <h3>Who am I?</h3>
    <p>My name is Matt, and I'm a recent MIS grad from Iowa State University. I moved to Colorado for an Angular contract.
      Well, if I'm being honest, mountain biking, skiing, and the INCREDIBLE music scene were part of it too.
      My contract is wrapping up now, and I've decided this is the place for me to start my career.</p>
    <h3>What is this website?</h3>
    <p>Firstly, a labor of love. Secondly, a place to showcase what I can do to potential employers.  Thirdly, part of a friendly portfolio competition with my friend and peer, Max Farver.   This website is built with Angular 8 and deployed using AWS S3 + Cloudfront</p>
    <h3>Why software development?</h3>
    <p>The moment that I made my first program is fixed in my mind. I wrote some code to check my answers to geometry problems in high school. I recall it like people remember their first kiss. The feeling of deep satisfaction was unmatched. Using only my brain and a computer, I was solving problems. The challenge of new and difficult concepts, fighting rogue semicolons, and syntax errors was all worth it. Eight years and one carrer choice later, I still get the same rush from code. I have never in my life found something that makes me feel as euphoric as making good code. I can't think of anything I'd rather do. </p>
  </div>
  <div class="links">
      <h1>Links to my things</h1>
  </div>
</div>

