/*grid, permalink = https://grid.layoutit.com/?id=QHuV95l*/

.background{
  background-color: #157c56;
}
div.body-content{
  display: flex;
  flex-direction: column;
  max-width: 680px;
  margin: auto;
  background-color: #8abeab;
}
p{
  font-size: 24px;
  background-color: mat-color;
}
div.article-header{background-color: #157c56}
div.article-header>p,h1,img,em{
  display: flex;
  flex-direction: column;
  margin: auto;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  max-width: 100%;
  background-color: antiquewhite;

}
@media (max-width: 680) {
  div.background{
    margin-left: 10%
  }
}
