

<div class="grid-container">wha
    <div class="title"><h1>{{(this.post$ | async)?.title}}</h1></div>
    <div class="article-photo">
      <img class = "center" [src] = "(this.post$ | async).postImage">
    </div>
    <div class="article-quote"><em>{{(this.post$ | async)?.postImageSubtext}}</em></div>
    <div class="content-block-left">content-left</div>
    <div class="content-block-right">content-right</div>
    <div class="left-margin">busted</div>
    <div class="right-margin">all</div>
  </div>
