.grid-container {
  width: 100%;
  height: 700px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: .5fr 0.5fr 1fr 0.25fr 1fr 1fr;
  grid-template-areas: "title title title title title title title title title title title title" "left-margin left-margin article-photo article-photo article-photo article-photo article-photo article-photo article-photo article-photo right-margin right-margin" "left-margin left-margin article-photo article-photo article-photo article-photo article-photo article-photo article-photo article-photo right-margin right-margin" "left-margin left-margin article-quote article-quote article-quote article-quote article-quote article-quote article-quote article-quote right-margin right-margin" "left-margin left-margin content-block-left content-block-left content-block-left content-block-left content-block-right content-block-right content-block-right content-block-right right-margin right-margin" "left-margin left-margin content-block-left content-block-left content-block-left content-block-left content-block-right content-block-right content-block-right content-block-right right-margin right-margin";
}

.title { grid-area: title;
background-color: aqua; }

.article-photo {
  grid-area: article-photo;
  background-color: red;
 }

.article-quote {
  grid-area: article-quote;
  background-color: rosybrown;
 }

.content-block-left {
  grid-area: content-block-left;
  background-color: royalblue;
}

.content-block-right {
  grid-area: content-block-right;
  background-color: violet;
}

.left-margin {
  grid-area: left-margin;
  background-color: gray;
}


.right-margin {
  grid-area: right-margin;
  background-color: hotpink;
}

