
img{max-width: 75%;
  max-height: 75%;
scale:50%;}

mat-card{
  background-color:  #8abeab;
  text-align: center;
  margin-left: 10%;
  margin-right:10%;
}
.post-list-title{
  align-content: center;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  background-color: azure;
}
.card-background-content{
  text-align: center;
  background: rgb(120, 129, 255);
}
.background-postlist{
  background-color: #157c56;
  /*
  mompallet blue #3fcbe0
  purple #4c2bba
  gr #19c441

  #103b2b;
   #234c44*/
}
/*begin grid*/
.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 0.25fr 1fr;
  grid-template-areas: "post-photo post-title post-title" "post-photo post-preview post-preview";
}

.post-preview { grid-area: post-preview;
}

.post-title { grid-area: post-title;
  margin-bottom: 5px;
}
.h1sz{
  margin:4px;
}

.post-photo {
  grid-area: post-photo;
  background-color: green;
  max-width: 100%;
  max-height: 100%;
  display: block;
  margin-right: auto;
  margin-left: auto;
   }
/*end grid*/
