<div id="post-card">
<div *ngFor="let post of postList$ | async">


      <mat-card>
          <mat-card-header>
        <mat-card-title>
          <h1>{{post.title}}</h1>
        </mat-card-title>
        <mat-card-subtitle><em>{{post.header}}</em></mat-card-subtitle>
      </mat-card-header>
            <img mat-card-image *ngIf="post.previewImagePath != undefined" class="post-photo" [src]="post.previewImagePath">
            <mat-card-content><p>{{post.previewText}}</p></mat-card-content>
            <mat-card-actions>
              <a mat-raised-button [routerLink]="['/', this.category, post.id]" routerLinkActive="router-link-active">
                Read this post</a>
            </mat-card-actions>
        </mat-card>

  </div>
</div>
