
p{ font-size: 20px;}

#post-card{
  background-color: #157c56;
}


.background-postlist{
  background-color: #157c56;
  /*
  mompallet blue #3fcbe0
  purple #4c2bba
  gr #19c441

  #103b2b;
   #234c44*/
}
/*begin grid*/

em{
  font-size: 24px;
}


mat-card{
  background-color:  #8abeab;
  text-align: left;
  margin-left: 10%;
  margin-right:10%;
  margin-bottom: 50px;
}


/*end grid*/
