<div *ngFor="let post of postList$ | async">

  <div class="background-postlist">
    <mat-list>
      <mat-card class="grid-container">
        <div class="post-title">
          <h1 class = h1sz>{{post.title}}</h1>
          <em >{{post.header}}</em>
        </div>
        <div class="post-preview">
          <mat-card-header>{{post.previewText}}
        </mat-card-header>
      </div>
        <a [routerLink]="['/', this.category, post.id]" routerLinkActive="router-link-active">go</a><img
          *ngIf="post.previewImagePath != undefined" class="post-photo" [src]="post.previewImagePath">
      </mat-card>
    </mat-list>
  </div>
</div>
